<!-- <button (click)="getData()">Click me to show the data table</button>
<div>
  @for(x of data; track x){
  <p>{{ x }}</p>
  }
</div> -->
<!-- <button (click)="testingObservableClick()">Test Observable here</button> -->
<div class="switch-map">
  <div class="buttons">
    <button (click)="oneSecondDelaySwitchMapClick()">1 second delay</button>
    <button (click)="fiveSecondDelaySwitchMapClick()">5 second delay</button>
    <button (click)="tenSecondDelaySwitchMapClick()">10 second delay</button>
  </div>
  <div class="numbers">
    @for( number of switchMapClickSubjectObservableEventList$ | async; track
    number ){
    <div class="number">
      <h1>{{ number }}</h1>
    </div>
    }
  </div>
</div>
